.formulario-busqueda {
    display: flex;
    align-items: center;
    position: relative;
}

.icono-busqueda {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-busqueda {
    position: absolute;
    width: 200px;
    height: 50%;
    border: 1px solid #ccc;
    background-color: white;
}
