@font-face {
    font-family: 'Spiegel';
    src: url('/Spiegel_TT_Regular.ttf');
}

.tarjeta {
    display: flex;
    width: 480px;
    height: 130px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    font-size: 20px;
    color: black;
    font-family: "Friz Quadrata", serif;
    font-family: 'Spiegel', serif;
    font-weight: bold;
}

.tarjetas-partidas {
    display: flex;
    flex-direction: column;
    /*gap: 16px;*/
}

.tarjeta-imagenes {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-centro {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjeta-textos {
    width: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.tarjeta.ganado {
    background-color: #d0f0fd;
}

.tarjeta.perdido {
    background-color: #fdd0d0;
}

.imagenes-hechizos {
    display: flex;
}

.imagen-hechizo {
    height: 30px;
    margin: 0;
    padding: 0;
}

.imagen-hechizo:first-child {
    margin-left: 5px;
    margin-right: 5px;
}

.imagen-hechizo:not(:first-child) {
    margin: 0;
    padding: 0;
}

.deaths {
    color: rgb(255, 140, 140);
}
