@font-face {
    font-family: 'Spiegel';
    src: url('/Spiegel_TT_Regular.ttf');
}

.tarjeta {
    display: flex;
    width: 320px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    font-size: 20px;
    color: black;
    font-family: "Friz Quadrata", serif;
    font-family: 'Spiegel', serif;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #d0f0fd;
}

.tarjeta-imagenes {
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.tarjeta-imagen {
    width: 75px;
    height: 50%;
}

.tarjeta-centro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tarjeta-textos {
    width: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.imagen-hechizo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
